<!-- barebone app: app-block.liquid -->

<!--
See the useful documents.

https://shopify.dev/themes/architecture/sections/app-blocks

https://shopify.dev/apps/online-store/theme-app-extensions/extensions-framework

https://shopify.dev/themes/architecture/settings/input-settings

https://github.com/Shopify/theme-extension-getting-started

--><!-- NOTE THAT you cannot write liquid variables in 'assets/***.css' like "span { color: {{ block.settings.color }}; } -->
  <span style="color: {{ block.settings.color }}"> <div class="_my_app_block">

    <h2>
      Barebone Theme App Extension with
      <a href="https://shopify.dev/apps/online-store/app-proxies" target="_blank">
        App Proxies</a>
    </h2>

    <p>shown in
      <b>`blocks/app-block.liquid'</b>
      as an
      <a href="https://shopify.dev/apps/online-store/theme-app-extensions/extensions-framework#app-blocks" target="_blank">
        app block
      </a>
      with
      <b>"target": "section"</b>
      with the color defined by value of
      <b>'block.settings.color'</b>.
    </p>


    {% if request.design_mode %}
      <!-- This will only render in the theme editor -->
      <p class="_my_app_block_editor">"I think you are viewing this app block within theme editor, right? &#x1f609"</p>
    {% endif %}

    <!-- See https://shopify.dev/api/liquid -->
    <p>
      <b>'block.settings.product'</b>
      in "Product":
      <b>{{ block.settings.product.id }}</b>
      (id) 
      /
      <b>{{ block.settings.product.title }}</b>
      (title) 
      /
      <b>{{ block.settings.product.price }}</b>
      (price)
    </p>
    <p>
      <b>'block.settings.text'</b>
      in "Text":
      <b>{{ block.settings.text }}</b>
    </p>

    <!-- Including snippets -->
    {% render 'barebone_snippet' %}

  </div>
</span>

<!--
See the useful documents.

https://shopify.dev/themes/architecture/sections/app-blocks

https://shopify.dev/themes/architecture/settings#dynamic-sources

https://help.shopify.com/en/manual/data-extensions/metafields/displaying-metafields-on-your-online-store

NOTE THAT if you add this app block to the home page, the product picker shows a simpple product selector only 
without a metafield dynamic source, but if in the product page, the picker shows simple selector and metafield ones both.
See the condtion in the document above.

"target": "section" in schema means this is an "App Block" as portable session anywhere in theme pages.

In this sample, "type": "product" and "type": "text" are supposed to be metafields in product data.

--><script>
  // NOTE THAT you cannot call external functions defined in 'assets/***.js' in <script> of blocks.
  console.log("blocks/app-block.liquid");
</script>
{% schema %}
  {
    "name": "Barebone App Block",
    "target": "section",
    "stylesheet": "barebone.css",
    "javascript": "barebone.js",
    "settings": [
      {
        "label": "Color",
        "id": "color",
        "type": "color",
        "default": "#000000"
      }, {
        "type": "product",
        "id": "product",
        "label": "Product"
      }, {
        "type": "text",
        "id": "text",
        "label": "Text"
      }
    ]
  }
{% endschema %}